@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/swiper/dist/css/swiper";


$blue: #005698;
$green: #88b344;
$gold: #ba9959;
$gray: #2c2e35;
$dk-gray: #111215;
$font-primary: 'Cabin', sans-serif;
$transition: 0.3s ease-in-out;

@font-face {
    font-family: formata;
    src: url(/fonts/Formata-Condensed.otf);
 }

//@import "animations";
//@import "forms";
h1, h2, h3, h4, h5 {
    font-family: formata;
    color: $gold;
    line-height: 1;
    font-weight: 400;
}
h2.underline:after {
    display: block;
    content: "";
    height: 3px;
    width: 30px;
    background-color: $gold;
    margin: 7px 0 5px;
}
body { 
    font-family: $font-primary;
    color: #000;
    font-weight: 300;
    font-size: 1.1rem;
    background-repeat: repeat;
    a { color: #000; &:hover { color: $blue; } }
    
}
img {
    max-width: 100%;
} 
main {

}
main > section {
    padding: 3rem 0;
}
body a {
    color: $blue;
    &:hover { color: $green; text-decoration: none; }
}
.bold {
    font-weight: 600;
}
.p-5rem {
    padding: 3rem 0rem;
}
#dso-table {
    tr, td {
        border-top: solid .5rem #fff;
        border-bottom: solid .5rem #fff;
        border-left: solid 2rem #fff;
        border-right: solid 2rem #fff;
        padding: .6rem;
    }
    .fa-check {
        color: #005596;
        margin-left: -1rem;
    }
    .gray-back {
        background-color: #E6E6E6;
        padding-left: 2rem;
        
        &.top {
            border-radius: 28px 28px 0px 0px;
        }
        &.bottom {
            border-radius: 0px 0px 28px 28px;
        }
    }
}
//Old Buttons
.btn {
//    display: inline-block;
//    font-size: 20px;
//    font-weight: bold;
//    line-height: auto;
//    padding: 7px 35px;
//    text-align: center;
//    background-color: $blue;
//    color: #fff;
//    transition: all .2s linear;
//    border-radius: 15%;
//    margin: 15px 0;
//    border: solid 2px $blue;
//    border-radius: 40px;
//    &:hover {
//        border-color: $green;
//        background-color: $green;
//        color: #fff;
//        text-decoration: none;
//    }
//}
//.btn-primary:hover {
//    background-color: transparent;
//}
//.btn-white {
//    display: inline-block;
//    font-size: 20px;
//    font-weight: bold;
//    line-height: auto;
//    padding: 7px 35px;
//    text-align: center;
//    background-color: #fff;
//    color: $blue;
//    transition: all .2s linear;
//    border-radius: 40px;
//    margin: 15px 0;
//    border: solid 2px #fff;
//    &:hover {
//        border-color: $green;
//        background-color: $green;
//        text-decoration: none;
//        color: $blue;
//    }
}
.btn {
    display: inline-block;
    font-family: formata;
    font-size: 28px;
    padding: 7px 25px;
    text-align: center;
    background-color: $gray;
    color: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    margin: 15px 0;
    border: solid 2px $gray;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    &:hover {
        color: $gold;
        text-decoration: none;
    }
}
.btn-primary:hover {
    background-color: transparent;
}
.btn-white {
    display: inline-block;
    font-family: formata;
    font-size: 28px;
    padding: 7px 25px;
    text-align: center;
    background-color: #fff;
    color: $gray;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    margin: 15px 0;
    border: 0px;
    border-radius: 15px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    &:hover {
        color: #535662;
        text-decoration: none;
    }
}
#page-header {
    padding-top: 3rem;
}
#sub-footer {
    background-image: url('/img/8365-Page-Footer-Background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 7rem;
    padding: 3rem 0;
    h1, p {
        color: #fff;
        text-shadow: 2px 2px 2px rgba(29,29,29,.85);
    }
    img {
        margin-top: -95px;
    }
    a {
//        text-shadow: 2px 2px 2px rgba(29,29,29,.85);
    }
}
h1.line {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    &:before,
    &:after {
        content: '';
        margin: 0 20px 0 0;
        flex: 1 0 20px;
        content: '';
        -webkit-box-flex: 1;
        -ms-flex: 1 0 20px;
        flex: 1 0 20px;
        border-top: solid 2px $gold;
    }

    &:after {
        margin: 0 0 0 20px;
    }
}
#defualt-header {
    background-image: url('/img/8365-Nav-Header-v1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 15px;
}
#home-header-video {
    height: calc(100vh - 300px);
    min-height: 350px;
    max-height: 450px;
    position: relative;
    overflow: hidden;
    .container, .row, .col-12 {
        height: 100%;
    }
    .text-wrap {
        padding: 3rem;
        background-color: rgba(17, 18, 21, .6);
        align-self: center;
        margin: auto;

        animation:title-animate 0.7s 1;
        animation-fill-mode: forwards;
    
        animation-delay: 4.5s;
        -webkit-animation-delay: 4.5s; /* Safari and Chrome */
        -webkit-animation-fill-mode: forwards;
        h1 {
            color: #fff;
            font-size: 3.5rem;
        }
        h2 {
            font-size: 5rem;
            font-size: 3.1rem;
        }
        z-index: 1;
        @keyframes title-animate{
            from {opacity :1;}
            to {opacity :0;}
        }
        
    }
    .text-wrap-mobile {
        padding: 3rem;
        background-color: rgba(17, 18, 21, .6);
        align-self: center;
        margin: auto;
        h1 {
            color: #fff;
            font-size: 3.5rem;
        }
        h2 {
            font-size: 5rem;
            font-size: 3.1rem;
        }
        z-index: 1;
    }
   #header-mobile {
        background-image: url("/img/Lab-Exterior-mobile.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    video {
        position: absolute;
        z-index: 0;
        left: -50%;
        right: 0;
        width: auto;
        min-width: 100%;
        min-height: 100%;
    }
}
#world-class {
    padding: 3rem 0rem;
    background-image: url('/img/Home-Gold-Texture-Large-BKGD.png');
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        color: #fff;
        font-size: 4rem;
        margin-bottom: 40px;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: formata;
        line-height: 1;
        font-weight: 400;
    }
    .btn {
        margin-top: 50px !important;
    }
}
#digital-cta {
    padding: 7rem 0;
    background-image: url('/img/Home-Digital-BKGD.png');
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-size: 4rem;
    }
    p {
        color: #fff;
        font-size: 1.6rem;
    }
    .btn {
        margin-right: 1.5rem;
    }
}
#our-value {
    padding: 7rem 0;
    background-image: url('/img/home-our-value-bkgd.png');
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    h1 {
        font-size: 4rem;
        color:  $blue;
    }
    p {
        color: #000;
        font-size: 1.6rem;
    }
}
#full-spectrum {
    padding: 4.5rem 0;
    h1 {
        color: #2c2e35;
        font-weight: bold;
        font-size: 4.0rem;
    }
    h2 {
        color: #05479e;
        font-size: 3rem;
    }
    .home-grid {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-columns: 1fr;
    }
    .home-cta-icons {
        display: block;
        padding: 1rem .5rem;
        text-align: center;
        background-color: #ececed;
        min-height: 400px;
        transition:  all .2s linear;
        height: 100%;
        &:hover {
            box-shadow: 0 0 15px rgba(152, 169, 208, 1);
            cursor: pointer;
        }
    }
    h3 {
        color: #2c2e35;
        font-weight: bold;
        margin-top: 2rem;
    }
    p {
        margin: 0 2rem;
        color: #000;
    }
}
#home-header {
//    background-image: url('/img/8365-Homepage-LG-Image-Header.png');
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-position: center;
//    position: relative;
//    overflow: hidden;
//    #home-header-video {
//        position: absolute;
//        width: 100%;
//        height: 100%;
//        background-position: center center;
//        background-repeat: no-repeat;
//        background-size: cover;
//        background-attachment: fixed;
//        z-index: 0;
//        overflow: hidden;
//    }
}
#home-banner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    h1 {
        font-size: 3rem;
        text-transform: uppercase;
    }
    h2 {
        color: #fff;
        font-size: 1.5rem;
    }
    p {
        color: #fff;
        font-size: 1rem;
    }
}
#top-Nav {
    padding-top: 5px;
    a {
        color: $gold;
        padding-left: 15px;
        svg {
            fill: $gold;
            width: 100%;
            max-width: 30px;
            margin-top: 4px;
            margin-right: 5px;
        }
        &:hover {
            color: $green;
            svg {
                fill: $green;
            }
        }
        span {
            position: relative;
        }
    }
}
.primary-nav {
    #header-logo {
        width: 100%;
        max-width: 250px;
        img {
            width: 100%;
        }
    }
    .primary-nav-menu {
        margin-bottom: 0;
        padding-bottom: 10px;
        border-bottom: solid 2px $gold;
        li {
            display: flex;
            font-size: 1rem;
            a {
                display: block;
                font-weight: 300;
                color: #fff;
                align-self: center;
                padding-right: 1rem;
                &:hover {
                    color: $green;
                }
            }
        }
        & .nav-link:nth-child(5) {
            padding-right: 4rem;
        }
        .sub-menu {
            position: absolute;
            z-index: 5;
            background-color: #fff;
            top: 68px;
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
            border-top: solid 1px $gold;
            min-width: 190px;
            box-shadow: 0 3px 6px rgba(49,49,49,.5);
            li {
                padding: .5rem;
                a {
                    padding-right: 0px;
                    color: $blue;
                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        #contact-collapse {
            right: 15px;
        }
    }
    #mobile-nav-icon {
        margin-top: 20px;
        max-width: 50px;
        height: 50px;
    }
}
#primary-nav-mobile {
    position: absolute;
    z-index: 1001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0px 25px;
    background-color: rgba(0, 68, 118, 0.95);
    height: 0vh;
    overflow: hidden;
    transition: all .4s ease-in-out;
    #primary-nav-mobile-menu {
        text-align: center;
        margin-top: 10vh;
        ul {
            margin: 0;
            padding: 0;
        }
        a {
            color: #fff;
            font-size: 1.5rem;
            &:hover {
                text-decoration: none;
            }
            &::after {
                display: block;
                content: "";
                border-bottom: solid 2px #fff;
                width: 0vw;
                margin: auto;
                transition: all .3s linear;
            }
            &[aria-expanded="true"]::after{
                width: 75vw;
            }
        }
        ul.sub-menu {
            list-style: none;
            a {
                font-size: 1.2rem;
            }
        }
    }
    &.open {
        height: 100vh;
    }
    #mobile-close-icon {
        float: right;
        color: #fff;
        font-size: 2rem;
    }
}
#home-cta {
    position: relative;
    padding-top: 0;
    margin-top: 20px;
    .cta-txt {
        img {
            margin-top: -30px;
        }
        h1 {
            font-size: 3rem;
            margin-top: 50px;
        }
    }
    .mt-5rem {
        margin-top: 1.5rem;
    }
    .home-cta-img {
        text-align: center;
        position: relative;
        .wrap {
            box-shadow: 0 3px 6px rgba(49,49,49,.5);
        }
        .home-cta-hover {
            background: linear-gradient(to bottom, #77c02c 0%, #005596 35%, #005596 100%);
            position: absolute;
            top: 0;
            bottom: 0;
            display: block;
            left: 0px;
            right: 0px;
            color: #fff;
            text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
            font-family: formata;
            font-size: 2rem;
            display: flex;
            opacity: .75;
            transition: $transition;
            margin: auto;
            max-width: 360px;
            div {
                align-self: flex-end;
                padding: 15px;
                text-align: left;
                line-height: 1.2;
                img {
                    width: 100%;
                    max-width: 50px;
                    margin-left: -15px;
                }
            }
        }
    }
}
#digital-page-header {
    background-image: url('/img/Mobile-Dig-Header.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 329px;
    background-color: #030424;
}
#di-page-header {
    background-color: #ba9959;
    padding: 0 0 5rem 0;
    .page-header {
        & h2 {
            color: #fff;
            font-size: 2.2rem;
        }
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 25%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.2) 75%, rgba(0,0,0,0) 100%);
        padding: 3rem 0;
    }
    .di-thumbs {
        margin-top: 4rem;
        & img {
            border-radius: 30px;
            border: solid 10px #fff;
            box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
            width: 75%;
            margin-top: 2rem;
        }
        h1{
            color: #fff;
            font-size: 4rem;
        }
        p {
            font-size: 1.5rem;
        }
    }
}
.di-thumbs-2 {
    background-image: url('/img/dig-bkgd.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 7rem 0;
    & img {
        border-radius: 30px;
        border: solid 10px #fff;
        box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
        width: 75%;
        margin-top: 2rem;
        background: #fff;
    }
    h1{
        color: $gold;
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
        color: #fff;
    }
}
.di-thumbs-3 {
    background-color: #111215;
    padding: 7rem 0;
    & img {
        border-radius: 30px;
        border: solid 10px $gold;;
        box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
        width: 75%;
        margin-top: 2rem;
        background: #fff;
    }
    h1{
        color: $gold;
        font-size: 4rem;
    }
    p {
        font-size: 1.5rem;
        color: #fff;
    }
}
#home-send-case {
    margin-top: -100px;
    padding: 9.5rem 0 9rem 0;
    h1, p {
        color: #fff;
    }
    .gold-txt h1 {
        color: $gold;
        text-align: right;
        font-size: 5.8rem;
    }
}
#home-info {
    padding-top: 0;
    margin-top: -50px;
    .info-box {
        box-shadow: 0 3px 6px rgba(49,49,49,.5);
        padding: 15px;
        background-color: #fff;
        width: 90%;
        margin: auto;
        img {
            text-align: center;
            width: 100%;
        }
        h3 {
            margin-top: 2rem;
            color: $blue;   
        }
        .info-btn {
            margin-left: 0px;
            padding: 15px 0px 5px 0px;
            a {
                display: flex;
                transition: $transition;
            }
            .info-btn-bx {
                background-color: $gold;
                display: flex;
                padding: 0px 15px;
                transition: $transition;
                svg {
                    width: 65px;
                    height: 65px;
                }
            }
            .info-btn-txt {
                display: inline-block;
                align-self: center;
                font-size: 1.2rem;
                margin-left: 15px;
            }
        }
        &:hover .info-btn .info-btn-bx { 
            background: $green;
        }
        &:hover .info-btn a {
            color: $green;
        }
        .info-icon {
            fill: $blue;
        }
    }
}
#home-save-25 {
    margin-top: -100px;
    padding: 9.5rem 0 6.5rem 0;
    h1, p {
        color: #fff;
    }
    .gold-txt h1 {
        color: $gold;
        text-align: right;
        font-size: 4rem;
        margin-right: 50px;
    }
}
.home-CTA-Link {
    .thumb {
        border: solid 15px #fff;
        box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
        background-image: url('/img/Maverick-Blue-Thumb-BKGD.png');
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        margin: 15px;
        position: relative;
        max-width: 275px;
        margin: auto;
        margin-bottom: 1rem;
        .btn {
            margin-top: 50px !important;
        }
        img {
            background-color: transparent;
            border-radius: 50%;
            transition: all .2s linear;
        }
        & .overlay {
            font-family: formata;
            color:#ba9959;
            line-height: 1;
            font-weight: 400;
            font-size: 3.2rem;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            border-radius: 100%;
            text-align: center;
            opacity: 0;
            transition: all .3s linear;
            display: flex;
            &:hover {
                opacity: 1;
            }
        }
    }
    .prodTxt {
        text-align: center;
    }
}
.prodLink {
    .prodThumb {
        border: solid 15px #fff;
        box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
        background-image: url('/img/Maverick-Blue-Thumb-BKGD.png');
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        margin: 15px;
        img {
            background-color: transparent;
            border-radius: 50%;
            transition: all .2s linear;
        }
        &:hover img {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
    .prodTxt {
        text-align: center;
    }
    h3 {
        color: #000;
    }
    &:hover .prodTxt h3 {
        color: $blue;
    }
}
.prodPage {
    .prodThumb {
        border: solid 15px #fff;
        box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
        background-image: url('/img/8365-Product-Circle-Thumb.png');
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
        margin: 15px;
        img {
            background-color: rgba(0, 40, 94, 0.8);
            border-radius: 50%;
            transition: all .2s linear;
        }
    }
    .prodTxt {
        text-align: center;
    }
}
#subNav {
    #productNav {
        width: 60%;
        margin: auto;
        #productNav-menu {
            padding: .5rem 0 1.5rem 0;
            & a {
                text-align: center;
                color: $blue;
                &.active, &:hover {
                    color: $gold;
                }
            }
        }
    }
    .subBorder {
        height: 2px;
        width: 100%;
        background-color: $gold; 
    } 
}
.resource-btn {
    height: 450px;
    position: relative;
    text-align: center;
    background-color: $blue;
    border-radius: 15px;
    box-shadow: -1px 0px 13px 4px rgba(125, 120, 120, 0.5);
    overflow: hidden;
    margin-bottom: 60px;
    a {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .res-bkgd-wrap {
        height: 255px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        .res-bkgd {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            transition: all .2s linear;
            transform: scale(1);
            &.res-rx {
                background-image: url('/img/Rx-Form-Resource-PDF-IMG_template.png');
            }
            &.res-specs {
                background-image: url('/img/Torque-Spec-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-cement {
                background-image: url('/img/Cementation-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-code {
                background-image: url('/img/ADA-Code-Product-Breakdown-List-Guide-Resource-PDF-IMG_template.png')
            }
            &.res-di {
                background-image: url('/img/DI-Impression-Guide-Resource-PDF-IMG_template.png')
            }
        }
    }
    &:hover .res-bkgd {
        transform: scale(1.1);
    }
    .cta-tri-box {
        z-index: 1;
        position: absolute;
        left: -20px;
        bottom: 139px;
        transform: rotate(-30deg);
        .cta-tri {
            position: relative;
            background-color: theme-color('yellow');
            text-align: left;
        }
        .cta-tri:before,
        .cta-tri:after {
            content: '';
            position: absolute;
            background-color: inherit;
        }
        .cta-tri,
        .cta-tri:before,
        .cta-tri:after {
            width:  5em;
            height: 5em;
            border-top-right-radius: 30%;
        }

        .cta-tri {
            transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
        }
        .cta-tri:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }
        .cta-tri:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
    }
    h3 {
        position: absolute;
        top: 270px;
        font-family: $font-primary;
        font-weight: 600;
        font-size: 1.7rem;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    hr {
        position: absolute;
        top: 345px;
        margin: auto;
        left: 15px;
        right: 15px;
        z-index: 2;
    }
    .btn {
        position: absolute;
        top: 370px;
        margin: auto;
        left: 25px;
        right: 25px;
        padding: 10px 0px 13px 0px;
        z-index: 2;
    }
}
.btn-primary {
    margin-top: 15px;
}
#digital-Dent {
    min-height: 450px;
    .dig-Dent-Thumb {
        background-image: url("/img/Digital-Dentistry-Thumb.png");
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        position: absolute;
        height: 350px;
        border: 21px solid #fff;
        width: 45%;
        border-left: 0;
        box-shadow: -1px 0 13px 4px hsla(0,2%,48%,.5);
    }
    .dig-Dent-Text {
        margin-top: 3rem;
    }
    ul {
        list-style: none;
        padding-left: 0;
        i {
            font-size: 22px;
            color: #fff;
            background-color: $blue;
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            margin: 10px 10px 0 0;
        }
        li {
            font-size: 22px;
            color: $blue;
        }
    }
}
#dig-Perks {
    padding: 5rem 0;
    background-image: url('/img/Digital-CTA-BKGD.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h3 {
        color: #fff;
    }
}
#dig-Thumbs {
    .prodThumb {
        margin: auto;
        width: 100%;
        padding: 0px;
        max-width: 225px;
    }
    .prodTxt {
        margin-top: 15px;
    }
}
footer {
    padding: 3rem 0;
    background-image: url('/img/8365-Footer-Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    address, p, a {
        color: #fff;
        font-size: .9rem;
        text-decoration: none;
    }
    a:hover {
        color: $green;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0;
    }
    .footIcons {
        svg {
            fill: #fff;
            width: 100%;
            max-width: 40px;
            margin-right: .5rem;
        }
        &:hover svg {
            fill: $green;
        }
    }
    .footer-logo {
        width: 100%;
        max-width: 500px;
        float: left;
        margin-left: -15px;
    }
    .foot-line {
        width: 100%;
        height: 2px;
        background-color: $gold;
    }
}
#copyright {
    padding: 1.5rem 0rem;
    font-size: 14px;
    background-color: #e8e8e8; 
    .d-flex {
        & div:nth-child(1) {
            align-self: center;
        }
        img {
            min-width: 200px;
            float: right;
        }  
    }
}
.form-container {
    padding: 25px;
    box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
    background-color: #fff;
    h4 {
        color: $blue;
    }
    .btn {
        border: solid 0px;
        color: $blue;
        &::before {
            content: '';
            display: block;
            position: absolute;
        }
        &:hover {
            color: green;
        }
    }
    .info-btn {
        margin-left: 0px;
        padding: 15px 0px 5px 0px;
        button {
            display: flex;
            transition: $transition;
            background-color: transparent;
            border: 0px;
            &:hover {
                cursor: pointer;
            }
        }
        .info-btn-bx {
            background-color: $gold;
            display: flex;
            padding: 0px 15px;
            transition: $transition;
            svg {
                width: 65px;
                height: 65px;
                fill: $blue;
            }
            &:hover {
                cursor: pointer;
            }
        }
        .info-btn-txt {
            display: inline-block;
            align-self: center;
            font-size: 1.2rem;
            margin-left: 15px;
            color: $blue;
            transition: $transition;
            &:hover {
                cursor: pointer;
            }
        }
        &:hover {
            cursor: pointer;
            .info-btn-txt {
                color: $green;
            }
        }
    }
}
#vip-header {
    background-color: #111215;
    padding: 3rem 0;
    color: #fff;
    img {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
    }
    .btn {
        border: solid 2px $gold;
        background: $dk-gray;
        width: 235px;
    }
}
#artwork {
    border-top: solid 3px #fff; 
    padding: 6rem 0;
    background: url(/img/VIP-Artwork-BKGD.png);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    p {
        color: #fff;
    }
    .title {
        background: linear-gradient(to right,  rgba(231,188,57,0) 0%,rgba(231,188,57,1) 45%,rgba(231,188,57,1) 50%,rgba(231,188,57,1) 65%,rgba(231,188,57,0) 100%);
        padding: 1rem 0;
        margin-bottom: 2rem;
        text-align: center;
        h1 {
            color: #fff;
            font-size: 3rem;
        }
    }
    h2 {
        font-size: 2.5rem;
        color: #e7bc39;
    }
}
#VI-patient, #VI-practice {
    border-top: solid 3px #fff;
    background: #000;
    padding: 3rem 0;
    img {
        width: 300px;
        border-radius: 50%;
        border: solid 10px #e7bc39;
    }
    h1 {
        color: #65666b;
        font-size: 3rem;
    }
    h2 {
        color: #e7bc39;
        font-weight: 600;
        font-size: 3.5rem;
    }
    p {
        color: #fff;
    }
}
#VI-prosthetic {
    border-top: solid 3px #fff; 
    padding: 3rem 0;
    // background: url(/img/VI-Patient-BKGD.jpg);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #000;
    img {
        width: 300px;
    }
    h1 {
        color: #9b9c9f;
        font-size: 3rem;
    }
    h2 {
        color: #e7bc39;
        font-weight: 600;
        font-size: 3.5rem;
    }
    p {
        color: #fff;
    }
}
/* Forms */
#formContainer {
    input {
//        width: 100%;
//        margin: 4px 0px;
//        padding: 5px 5px;
//        border: solid 1px #000;
    }
    .radio-btn {
        min-width: 15px;
    }
    .submit {
//        line-height: auto;
//        padding: 7px 25px;
//        width: auto;
    }
    .state {
        margin: 5px 0px;
        height: 34px;
        width: 100%;
        min-width: 65px
    }
     .message {
        width: 100%;
        margin: 4px 0px;
        height: 150px;
        border: solid 1px theme-color('dk-gray');
        padding: 5px;
    }
    #zipcode_Field {
        max-width: 300px;
    }
}
#contactFormSignup {
    label {
        float: left;
        margin: 6px 0px 0px 0px;
    }
    input {
        display: block;
        width: 80%;
    }
}
p.danger {
    color: $blue;
}
.form-group {
    margin-bottom: 0;
}
.form-control {
    margin: 4px 0px;
    padding: 5px 5px;
    border: solid 1px rgba(108, 117, 125, .55);
    border-radius: 0px;
    font-family: inherit;
    font-size: inherit;
    &::placeholder {
        opacity: 0.5;
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba(186, 153, 89, .55);
    }
}
.responseMessage {
    background-color: #fff;
    margin: 5px 0px;
    padding: 15px;
    color: green;
    display: none;
    text-align: center;
}
.product-thumb {
    position: relative;
    text-align: center;
    background-color: #f58220;
    border-radius: 15px;
    padding: 25px 0px 60px 0px;
    -webkit-box-shadow: -1px 0px 13px 4px rgba(125, 120, 120, 0.5);
    box-shadow: -1px 0px 13px 4px rgba(125, 120, 120, 0.5);
    overflow: hidden;
    height: 250px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    margin-bottom: 60px;
    img {
        width: 244px;
        z-index: 2;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        margin-bottom: auto;
    }
    .cta-tri-box {
        z-index: 1;
        position: absolute;
        left: -20px;
        top: -20px;
        transform: rotate(-30deg);
        .cta-tri {
            position: relative;
            background-color: theme-color('yellow');
            text-align: left;
        }
        .cta-tri:before,
        .cta-tri:after {
            content: '';
            position: absolute;
            background-color: inherit;
        }
        .cta-tri,
        .cta-tri:before,
        .cta-tri:after {
            width:  5em;
            height: 5em;
            border-top-right-radius: 30%;
        }

        .cta-tri {
            transform: rotate(-60deg) skewX(-30deg) scale(1,.866);
        }
        .cta-tri:before {
            transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
        }
        .cta-tri:after {
            transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
        }
    }
}
.loader {
 display:none
}
.loader,.loader:after,.loader:before {
 border-radius:50%;
 width:2.5em;
 height:2.5em;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation:load7 1.8s infinite ease-in-out;
 animation:load7 1.8s infinite ease-in-out
}
.loader {
 font-size:10px;
 margin:80px auto;
 position:relative;
 text-indent:-9999em;
 -webkit-transform:translateZ(0);
 transform:translateZ(0);
 -webkit-animation-delay:-.16s;
 animation-delay:-.16s
}
.loader:after,.loader:before {
 content:"";
 position:absolute;
 top:0
}
.loader:before {
 left:-3.5em;
 -webkit-animation-delay:-.32s;
 animation-delay:-.32s
}
.loader:after {
 left:3.5em
}
@-webkit-keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
@keyframes load7 {
 0%,80%,to {
  -webkit-box-shadow:0 2.5em 0 -1.3em;
  box-shadow:0 2.5em 0 -1.3em
 }
 40% {
  -webkit-box-shadow:0 2.5em 0 0;
  box-shadow:0 2.5em 0 0
 }
}
/* Case Calendar */
.cal_table {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.pre-process-row {
    display: none;
}
.cal_table th, .cal_table td {
    border: solid 1px #000;
}
.month_bkdg {
    background-color:#798B90;
    color:#fff;
    text-align: center;
    font-size: 20px;
    padding: 5px 0px;
}
.dayNames{
    background-color:#808080;
    color:#fff; 
    text-align: center;
}
.dayNames th{ 
    font-size: 18px;
    padding: 5px 3px;
    min-width: 43px;
}
.ship_day{
    background-color:#fb5b5b;
    text-align: center;
}
.pre_proc_day {
    background-color:#fe9794;
    text-align: center;
}
.proc_day {
    background-color:#A9D1FE;
    text-align: center;
}
.holiday {
    background-color:#fcd17d;
    text-align: center;
}
.delivery_day {
    background-color:#64F556;
    text-align: center;
}
.deliv_day {
    background-color:#64F556;
    text-align: center;
}
.norm_day{
   background-color: #fff; 
   text-align: center;
}
.cal-kay {
    padding-top:5px;
    max-width:220px;
    padding-top: 10px;
    margin-left: 25px;
}
.ship_deliv {
    background: linear-gradient(135deg, #fb5b5b 0%, #fb5b5b 50%, #fbf800 50%, #fbf800 100%);
    text-align: center;
}
.cal_key td {
    text-align: left;
}
/* JQuery UI */
.ui-widget {
    font-family: formata;
}
.ui-icon {
    background-image: url("/img/ui-icons_222222_256x240.png") !important;
}
#accordion {
    margin-top: 3rem;
    .ui-state-default {
        color: $blue;
        border-radius: 0px !important;
        border: 0px !important;
    }
    .ui-state-active {
        color: $gold;
        border-radius: 0px !important;
        border: 0px !important;
    }
}
.ui-accordion .ui-accordion-header {
    background-color: transparent;
    text-align: left;
    font-size: 1.5rem !important;
}
.ui-state-active .ui-icon {
    background-image: url("/img/ui-icons_222222_256x240.png") !important;
}
.ui-icon, .ui-widget-content .ui-icon {
    background-position: -16px -128px !important;
}
.ui-state-active .ui-icon {
   background-position: -48px -128px !important; 
}
.ui-corner-all {
    border-radius: none !important;
}
.ui-accordion .ui-accordion-content {
   max-height: 150px;
}
.ui-widget-content {
    margin: 0px 15px 0px 35px !important;
    border: 0px !important;
    padding: 0px !important;
    border-left: solid 2px $gold !important;
    p, b {
        font-family: $font-primary !important;
        color: #000;
        font-size: 1.1rem;
        padding-left: 15px;
    }
    ul {
        font-family: $font-primary !important;
        color: #000;
        font-size: 1.1rem;
        padding-left: 35px;
    }
}
#blog {
    .blog-img {
        background: url('/img/global-sprite.png') 0 0 no-repeat;
        background-position: 0 -396px;
        height: 255px;
        max-width: 100%;
        margin: 0 0 12px;
        width: 556px;
        position: relative;
        img {
            max-width: 100%;
            height: 218px;
            top: 6px;
            left: 6px;
            position: absolute;
        }
    }
    h2 {
        margin-bottom: 1.5rem;
    }
}
/* Send a case */
.caseStep {
    text-align: center;
    border: solid 1px #E6E6E6;
    padding: 15px 15px;
    transition: all .2s linear;
    &.active {
        box-shadow: 0 3px 6px rgba(49, 49, 49, 0.5);
    }
    svg {
        width: 100%;
        max-width: 125px;
        min-width: 80px;
    }
    .stepsIcon {
        fill: $blue;
        transition: all .2s linear;
    }
    &.active .stepsIcon  {
        fill: $green;
    }
    h4 {
        color: $blue;
        transition: all .2s linear;
    }
    &.active h4 {
        color: $green
    }
}
.stepWrap {
    padding: 25px;
    border: solid 1px #e6e6e6;
}
@media (min-width: 576px){
    #home-banner {
        padding-top: 5.5rem;
        padding-bottom: 8rem;
        h1 {
            font-size: 5rem;
            text-transform: uppercase;
        }
        h2 {
            color: #fff;
            font-size: 3rem;
        }
        p {
            color: #fff;
            font-size: 1.1rem;
        }
    }
    #home-cta {
        .home-cta-img {
            .home-cta-hover {
                opacity: 0;
                &:hover {
                    opacity: .75;
                }
            }
        }
    }
    #home-cta { 
        margin-top: -50px;
    }
    #home-info {
        .info-box {
            .info-btn {
                margin-left: -50px;
            }
        }
    }
    .testimonial {
        padding: 0 5rem;
    }
    #digital-page-header {
        height: 576px;
    }
    #di-page-header {
        .di-thumbs {
            h1{
                color: #fff;
                font-size: 5.5rem;
            }
        }
        .di-thumbs-2 {
            h1{
                color: #fff;
                font-size: 5.5rem;
            }
        }
        .di-thumbs-3 {
            h1{
                color: #fff;
                font-size: 5.5rem;
            }
        }
    }
}
@media (min-width: 768px) {
    .form-container .info-btn {  margin-left: -60px; }
    #home-cta { 
        .mt-5rem {
            margin-top: 4rem;
        }
    }
    #dig-Thumbs {
        .prodThumb {
            margin: 15px;
        }
    }
    #full-spectrum {
        .home-grid {
        grid-template-columns: repeat(2, 1fr);
        }
    }
    #world-class {
       
    }
    #home-header-video {
        max-height: none;
    }
   
    
}
@media (min-width: 992px) {
    #digital-page-header {
        background-image: url('/img/Digital-Right-Header.png');
        height: 650px;
    }
    #full-spectrum {
        .home-grid {
        grid-template-columns: repeat(4, 1fr);
        }
    }
    #home-header-video {
        .text-wrap {
            h2 { font-size: 5rem; }
        }
    }
}
@media (min-width: 1200px) {
    #home-header-video {
        video {
            position: absolute;
            z-index: 0;
            left: 0;
            right: 0;
            width: 100%;
            min-width: 100%;
            min-height: 100%;
        }
    }
}